<div class="disclaimer">
    {% if site.data.theme.show_disclaimer %}
    <p>
        Bu sitedeki gönderiler bana aittir ve iş verenime ait pozisyonlar, stratejiler veya görüşler temsil edilmemektedir.<br>
        <a href="/ders-notlari/">Ders Notları</a>
        <span> | </span><a href="/doc/">Dokümanlar</a>
        <span> | </span><a href="/gizlilik-politikasi/">Gizlilik Politikası</a>
        <span> | </span><a href="/kullanim-kosullari/">Kullanım Koşulları</a>
        <span> | </span><a href="/hakkimda/">Hakkımda</a>
        <span> | </span><a href="/iletisim/">İletişim</a><br>
        <a href="/hosted/">Hosted By </a><i class="fa fa-copyright" aria-hidden="true"></i> {{ site.data.theme.name }}, {{ site.time | date: '%Y' }} - Linux Hacısı
    </p>
    <div class="row" style="text-align: center">
        <div class="four columns">
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><i class="fa fa-creative-commons fa-3x" aria-hidden="true"></i><br> Creative Commons</a>
        </div>
        <div class="four columns">
            <a href="/donate.html" target="_blank"><i class="fa fa-btc fa-3x" aria-hidden="true"></i><br> Bağış</a>
        </div>
    </div>
    {% endif %}
</div>