<div class="disclaimer">
    {% if site.data.theme.show_disclaimer %}
    <p>
        Bu sitedeki gönderiler bana aittir ve iş verenime ait pozisyonlar, stratejiler veya görüşler temsil edilmemektedir.<br>
        <a href="/ders-notlari/">Ders Notları</a>
        <span> | </span><a href="/gizlilik-politikasi/">Gizlilik Politikası</a>
        <span> | </span><a href="/kullanim-kosullari/">Kullanım Koşulları</a>
        <span> | </span><a href="/hakkimda/">Hakkımda</a>
        <span> | </span><a href="/iletisim/">İletişim</a><br>
        <a href="/hosted/">Hosted By </a> © {{ site.data.theme.name }}, {{ site.time | date: '%Y' }} - Linux Hacısı
    </p>
    <div class="row" style="text-align: center">
        <div class="three columns">
            <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img src="/assets/misc/creativecommons.png">Creative Commons</a>
        </div>
        <div class="three columns">
            <a href="http://www.kopimi.com/" target="_blank"><img src="/assets/misc/kopimi.gif">kopimi</a>
        </div>
        <div class="two columns">
            <a href="/donate.html" target="_blank"><img src="/assets/misc/Bitcoin.png">Bağış</a>
        </div>
    </div>
    {% endif %}
</div>